<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.kogel.ibc_it"
        versionCode = "11"
        version     = "1.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Ice Bucket Challenge for AISLA (Italia)</name>

    <description>
        Supporto Ufficiale Italia - Ogni 1000 download donerò 1€ all' associazione AISLA (Italia)
    </description>

    <author href="http://www.kogel.it" email="ibc@kogel.it">
        Mirko Gelsomini
    </author>

    <gap:platform name="android" />

    <icon src="css/icons/icon_mkt.png" />

    <gap:splash src="css/icons/splash.jpg" />

    <feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="android-minSdkVersion" value="14" />

</widget>
